body {
  background-color: #eeeeee;
  padding-top: 80px;
}

@media (width: 600px) {
  .nav-link {
    display: hidden;
  }
}
#header {
  display: flex;
  height: 60px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
#img-container {
  padding: 12px 30px;
  flex-grow: 1.5;
}
#header-img {
  height: 35px;
}
#nav-bar {
  align-items: center;
  display: flex;
  flex-grow: 1;
  padding: auto;
}
.nav-link {
  text-align: center;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  text-decoration: none;

  color: black;
}

.header_content {
  text-align: center;
}
.header_form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.header_form input {
  margin-bottom: 1rem;
  padding: 0.3rem;
  width: 250px;
}

.header_form button {
  background-color: #f1c40f;
  font-weight: 900;
  text-transform: uppercase;
  border: none;
  padding: 0.5rem;
}

/* video section style css */
#video {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
}

.video iframe {
  margin: auto;
}
.icon {
  width: 180px;
}
.icon * {
  height: 60px;
  width: 60px;
  margin: 20px 60px;
  fill: orange;
}
#grid-cards {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#card {
  display: flex;
  width: 50vw;
}

/* //price section style */
.price {
  display: flex;
  border-radius: 5px;
  height: 300px;
  margin-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 2rem;
  margin-bottom: 2rem;
  width: 71vw;
}

.price_card {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  flex: 1;
}
.card_body {
  flex-grow: 1;
}
.card_title {
  background-color: #dddddd;
  padding: 5px;
}
.card_title h3 {
  text-transform: uppercase;
}

.card_content {
  display: flex;
  flex-direction: column;
}
.card_content span {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  font-size: 1.1rem;
}
.card-price {
  margin: 10px 0;
  font-size: 1.4rem;
}
.btn {
  background-color: #f1c40f;
  padding: 10px;
  text-decoration: none;
  width: 100px;
  border: none;
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#footer {
  margin: 0 auto;
  width: 71vw;
  height: 80px;
  background-color: #d8d8d8;
  display: flex;
  flex-direction: column;
}
#footer-nav {
  margin-top: 20px;
  display: flex;
  gap: 8px;
}
#footer-nav > a {
  margin-right: 10px;
  color: black;
  text-decoration: none;
  font-size: 1.2em;
}
#footer-nav,
#footer > span {
  margin-left: auto;
  margin-right: 18px;
}
#footer > span {
  color: #818181;
}
