body {
  background-color: #eeeeee;
}

.header_content {
  text-align: center;
}
.header_form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.header_form input {
  margin-bottom: 1rem;
  padding: 0.3rem;
  width: 250px;
}

.header_form button {
  background-color: #f1c40f;
  font-weight: 900;
  text-transform: uppercase;
  border: none;
  padding: 0.5rem;
}
