body {
  background-color: #eeeeee;
}

@media (width: 600px) {
  .nav-link {
    display: hidden;
  }
}
#header {
  display: flex;
  height: 60px;
}
#img-container {
  padding: 12px 30px;
  flex-grow: 1.5;
}
#header-img {
  height: 35px;
}
#nav-bar {
  align-items: center;
  display: flex;
  flex-grow: 1;
  padding: auto;
}
.nav-link {
  text-align: center;
  flex-grow: 1;
}
.nav-link a {
  margin: 0;
  padding: 0;
  text-decoration: none;

  color: black;
}

.header_content {
  text-align: center;
}
.header_form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.header_form input {
  margin-bottom: 1rem;
  padding: 0.3rem;
  width: 250px;
}

.header_form button {
  background-color: #f1c40f;
  font-weight: 900;
  text-transform: uppercase;
  border: none;
  padding: 0.5rem;
}

/* video section style css */
#video {
  margin-top: 2rem;
  display: flex;
}

.video iframe {
  margin: auto;
}
.icon {
  width: 180px;
}
.icon * {
  height: 60px;
  width: 60px;
  margin: 20px 60px;
  fill: orange;
}
#grid-cards {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#card {
  display: flex;
  width: 50vw;
}
